---
import Layout from '../layouts/Layout.astro'; 
import ContextAlert from '../components/ContextAlert.astro'; 
import Markdown from '../components/Markdown.astro';
---

<Layout title="jececafe">
  <!-- Title -->
  <h1 class="text-center text-4xl font-bold mb-8">jececafe</h1>

  <!-- Unity WebGL Game -->
  <section class="flex justify-center">
    <div id="unityContainer" style="width: 1000px; height: 700px; background: #000;"></div>
  </section>

  <!-- Unity Loader Script -->
  <script is:inline>
  if (!HTMLCanvasElement.prototype.getContextSafariWebGL2Fixed) {
    HTMLCanvasElement.prototype.getContextSafariWebGL2Fixed = function (type, attrs) {
      return this.getContext(type, attrs);
    };
  }
</script>

<script src="/unity/Build/webgl.loader.js" is:inline></script>
<script is:inline>
  createUnityInstance(document.querySelector("#unityContainer"), {
    dataUrl: "/unity/Build/webgl.data",
    frameworkUrl: "/unity/Build/webgl.framework.js",
    codeUrl: "/unity/Build/webgl.wasm",
    streamingAssetsUrl: "/unity/StreamingAssets",
  }).then((unityInstance) => {
    console.log("Unity WebGL game loaded!");
  }).catch((message) => {
    console.error(message);
  });
</script>

</Layout>
